---
import { type ClassNameValue } from "tailwind-merge";
export interface Props {
  title: string;
  longerTitle?: string;
  description?: string;
  image?: string;
}

import { SEO } from "astro-seo";
import { join } from "node:path";
import { Icon } from "astro-icon/components";
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/inter";
import "../styles/global.css";

const props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Scrapyard TW</title>

    <SEO
      title={props.title}
      description={props.description}
      openGraph={{
        basic: {
          title: props.longerTitle ?? props.title,
          type: "website",
          image: props.image ?? "/favicon.png",
        },
        optional: {
          description: props.description,
        },
      }}
      twitter={{
        title: props.title,
        description: props.description,
      }}
    />
    <ClientRouter />
  </head>
  <body class="bg-gray-200">
    <slot />

    {
      Astro.params.lang && (
        <div class="fixed right-10 bottom-10">
          <a href={`/${Astro.params.lang === "us" ? "tw" : "us"}`}>
            <Icon
              name={`circle-flags:${Astro.params.lang}`}
              class="h-10 w-10 drop-shadow-lg transition-all duration-150 hover:drop-shadow-xl md:h-14 md:w-14"
            />
          </a>
        </div>
      )
    }
  </body>
</html>
