---
import { type ClassNameValue } from "tailwind-merge";
export interface Props {
  title: string;
  longerTitle?: string;
  description?: string;
  image?: string;
}

import { SEO } from "astro-seo";
import { join } from "node:path";
import { AstroFont } from "astro-font";
import { Icon } from "astro-icon/components";

const props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Scrapyard TW</title>

    <SEO
      title={props.title}
      description={props.description}
      openGraph={{
        basic: {
          title: props.longerTitle ?? props.title,
          type: "website",
          image: props.image ?? "/favicon.png",
        },
      }}
    />
    <AstroFont
      config={[
        {
          name: "JasonHandwriting1 Regular",
          src: [
            {
              style: "normal",
              weight: "400",
              path: join(process.cwd(), "public", "JasonHandwriting1.ttf"),
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body class="bg-gray-200">
    <slot />

    <div class="fixed bottom-10 right-10">
      <a href={`/${Astro.params.lang === "us" ? "tw" : "us"}`}>
        <Icon
          name={`circle-flags:${Astro.params.lang}`}
          class="h-10 w-10 drop-shadow-lg transition-all duration-150 hover:drop-shadow-2xl md:h-14 md:w-14"
        /></a
      >
    </div>
  </body>
</html>
